<%= link_to "Back", root_path, class: 'button is-small block' %>
<div class="card block">
  <div class="card-image">
    <figure class="image is-3by1">
      <img
        src="https://bulma.io/assets/images/placeholders/720x240.png"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content profile-content">
    <figure class="image is-128x128 block">
      <% if @account.avatar.present? %>
        <%= image_tag @account.avatar, class: 'is-rounded profile-pic' %>
      <% else %>
        <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Placeholder image" />
      <% end %>
    </figure>
    <nav class="level">
      <div class="level-left">
        <div>
          <p class="title is-5">
            <%= @account.display_name %>
          </p>
          <p class="subtitle is-7">
            @<%= @account.username %>
          </p>
        </div>
      </div>

      <div class="level-right">
        <button class="button is-info">Follow</button>
      </div>
    </nav>

    <p class="subtitle">
    <%= @account.bio %>
    </p>
  </div>
</div>
<section class="block">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p>Posts</p>
        <b><%= @account.post_count %></b>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div>
        <p>Following</p>
        <b><%= @account.following %></b>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div>
        <p>Followers</p>
        <b><%= @account.followers %></b>
      </div>
    </div>
  </nav>
</section>
<%= turbo_frame_tag "posts", src: profile_path(@account, format: :turbo_stream) %>

<% if @posts.next_page %>
  <%= turbo_frame_tag "load_more", src: profile_path(@account, page: @posts.next_page, format: :turbo_stream), loading: :lazy %>
<% end %>
