<div class="block">
  <%= form_with(model: reply, url: post_replies_path(@post), method: :post ) do |form| %>
    <% if reply.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(reply.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% reply.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <%= form.text_field :body, class: 'input is-small', placeholder: 'Reply to this post' %>
      </div>
      <div class="control">
        <%= form.submit "Reply", class: "button is-small is-warning" %>
      </div>

      <%= form.hidden_field :in_reply_to_id, value: in_reply_to.id %>
    </div>
  <% end %>
</div>
