<div class="box is-primary" id="<%= dom_id post %>">
  <div class="media">
    <div class="media-left">
      <figure class="image is-48x48">
        <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Placeholder image" />
      </figure>
    </div>
    <%= link_to profile_path(post.account), data: { turbo_frame: '_top' } do %>
      <div class="media-content">
        <p class="title is-5">
          <%= post.account.display_name %>
        </p>
        <p class="subtitle is-7">
          @<%= post.account.username %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="content">
    <p><%= post.body %></p>
  </div>
  <nav class="level">
    <div class="level-left">
      <% if user_signed_in? %>
        <div class="actions">
          <%= link_to "â¤ï¸ Like", favorites_path(account_id: current_user.account, post_id: post), class: 'button is-small is-rounded', data: { turbo_method: :post } %>
          <%= link_to "ðŸ’¬  Comment", post_path(post), class: 'button is-small is-rounded' %>
          <%= link_to "ðŸŒ  Share", "#", class: 'button is-small is-rounded' %>
        </div>
      <% end %>
    </div>
    <div class="level-right">
      <%= render "posts/interactions", post: post %>
    </div>
  </nav>
</div>
