<%= turbo_page_requires_reload %>
<p style="color: green"><%= notice %></p>
<%= link_to "Back", root_path, class: 'button is-small block' %>

<%= render @post %>
<%= render "replies/reply_form", in_reply_to: @post, reply: Post.new %>

<div class="content">
  <%= turbo_frame_tag "replies", src: post_replies_path(@post) %>
</div>

<div>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
