<!DOCTYPE html>
<html class="has-background-light">
  <head>
    <title><%= content_for(:title) || "Sapling" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sapling">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container page-content">
      <div class="columns is-desktop">
        <div class="column pl-0 is-hidden-touch">
          <div class="navbar-brand">
            <b>
              <%= link_to "🌱 Sapling", root_path %>
            </b>
          </div>

          <div class="block">
            <% if user_signed_in? %>
              <div class="is-hidden-touch">
                <%= turbo_frame_tag "new_post", src: new_post_path, target: "_top", class: "block" %>
              </div>
            <% else %>
              <section class="block">
                <b>Welcome to the social web home of <%= request.subdomain %></b>
                <p>Powered by <a>🌱 Sapling</a></p>
              </section>

              <div id="accounts" class='grid is-col-min-3'>
                <% Account.first(9).each do |account| %>
                  <% if account.avatar.present? %>
                    <%= link_to profile_path(account), data: { turbo_frame: '_top' } do %>
                      <figure class="image is-64x64">
                        <%= image_tag account.avatar, class: 'is-rounded profile-pic' %>
                      </figure>
                    <% end %>
                  <% else %>
                    <figure class="image is-64x64">
                      <img class="is-rounded profile-pic" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20231020%2Foriginal%2Fpngtree-sapling-sprouting-from-soil-png-image_13384337.png&f=1&nofb=1&ipt=167fdeb9aa070f27c6f3b9cacd5be1aa2b56bd8be3105b32d5e1ddc7f37ebb9e" alt="Placeholder image" />
                    </figure>
                  <% end %>
                <% end %>
              </div>

              <div class="box">
                <div class="block">
                  <h4 class="has-text-centered"><span>Administered by:</span></h4>
                  <div class="media">
                    <div class="media-left">
                      <%= link_to profile_path(@administrator), data: { turbo_frame: '_top' } do %>
                        <% if @administrator.avatar.present? %>
                          <figure class="image is-48x48">
                            <%= image_tag @administrator.avatar, class: 'is-rounded' %>
                          </figure>
                        <% else %>
                          <figure class="image is-48x48">
                            <img
                              src="https://bulma.io/assets/images/placeholders/64x64.png"
                              alt="Placeholder image"
                              class="is-rounded"
                            />
                          </figure>
                        <% end %>
                      <% end %>
                    </div>
                    <%= link_to profile_path(@administrator), data: { turbo_frame: '_top' } do %>
                      <div class="media-content">
                        <p class="title is-5">
                          <%= @administrator.display_name %>
                        </p>
                        <p class="subtitle is-7">
                          @<%= @administrator.username %>
                        </p>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="block">
                  <h4><span>Contact:</span></h4>
                  <a href="mailto:<%= @administrator.user.email %>"><%= @administrator.user.email %></a>
                </div>
              </div>

            <% end %>
          </div>
          <%= render "shared/flash" %>
        </div>

        <div class="column is-three-fifths-desktop">
          <%= yield %>
        </div>

        <div class="column pr-0 is-hidden-touch">
          <% if user_signed_in? %>
            <aside class="menu block">
                <p class="menu-label">Management</p>
                <ul class="menu-list">
                  <li><a class="has-background-light">Preferences</a></li>
                </ul>
            </aside>
          <% end %>

          <div class="buttons">
            <% unless user_signed_in? %>
              <% if false %>
                <%= link_to "Sign Up", new_user_registration_path, class: 'button is-info' %>
              <% end %>
              <%= link_to "Log In", new_user_session_path, class: 'button is-light' %>
            <% else %>
              <%= button_to "Sign Out", destroy_user_session_path, { method: :delete } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-nav top is-hidden-desktop">
      <div>
        <b>
          <%= link_to "🌱 Sapling", root_path %>
        </b>
      </div>
      <div>
        <% unless user_signed_in? %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'button is-info' %>
          <%= link_to "Log In", new_user_session_path, class: 'button is-light' %>
        <% else %>
          <%= button_to "Sign Out", destroy_user_session_path, { method: :delete } %>
        <% end %>
      </div>
    </div>
    <div class="mobile-nav bottom is-hidden-desktop">
      <div><%= link_to "🏠", community_path %></div>
      <div><%= link_to "🌎", posts_url(subdomain: nil) %></div>
      <div><%= link_to "➕", new_post_path %></div>
      <div><%= link_to "🔎", "#" %></div>
      <div><%= link_to "⚙️", "#" %></div>
    </div>
  </body>
</html>
