<!DOCTYPE html>
<html class="has-background-light">
  <head>
    <title><%= content_for(:title) || "Sapling" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sapling">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  </head>

  <body>
    <div class="container page-content">
      <div class="columns pl-0 pr-0">
        <div class="column pl-0">
          <div class="navbar-brand">
            <b>
              <%= link_to "🌱 Sapling", root_path %>
            </b>
          </div>

          <div class="block">
            <% if user_signed_in? %>
              <%= turbo_frame_tag "new_post", src: new_post_path, target: "_top", class: "block" %>
            <% else %>
              <h1 class="subtitle">
                <strike>Social Media</strike>
                <b>Social Web</b>
              </h1>
              <p class=block>
                This is the social web home of Dev/Test, who have taken control
                of their online presence using <b><a>🌱 Sapling</a></b>
              </p>
              <p>
                <b><a>🌱 Sapling</a></b> is building for the social web, an antidote to big
                tech and corporate controlled social media. You can learn more
                about what that means <a>here</a>
              </p>
            <% end %>
          </div>
          <%= render "shared/flash" %>
        </div>

        <div class="column is-half">
          <%= yield %>
        </div>

        <div class="column pr-0">
          <aside class="menu block">
            <p class="menu-label">Feeds</p>
            <ul class="menu-list">
              <li class="has-background-light"><a>Following</a></li>
              <li class="has-background-light"><a>Community</a></li>
              <li class="has-background-light"><a>Global</a></li>
            </ul>
            <% if user_signed_in? %>
              <p class="menu-label">Management</p>
              <ul class="menu-list">
                <li><a>Preferences</a></li>
              </ul>
            <% end %>
          </aside>

          <div class="buttons">
            <% unless user_signed_in? %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'button is-info' %>
              <%= link_to "Log In", new_user_session_path, class: 'button is-light' %>
            <% else %>
              <%= button_to "Sign Out", destroy_user_session_path, { method: :delete } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
